{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if key1 %}
        {{key1.description|truncatewords:155}}
    {% else %}
        Welcome to QuickShop where you can buys different items....
    {% endif %}
{% endblock %}
{% block title %}
    {% if key1 %}
        {{key1.name}}
    {% else %}
        See our New Collections - QuickShop
    {% endif %}
{% endblock %}
{% block body %}
    {% if key1 %}
        <div>
            <div class="row my_row_class">
                <div class="mx-auto">
                <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a></p>
            </div>
                </div>
        </div>
    {% endif %}
<div class="mx_auto">
    {% if key1 %}
        <img class="my_image" src="{{key1.image.url}}" alt="{{key1.name}}" width="1112px">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{key1.name}}</h1>
    <p class="text-justify">{{key1.description}}</p>
</div>
     {% else %}
         <div>
             <img class="my_image_padding" src="{% static 'img/Banner.png' %}" alt="Our products" width="1110px">
         </div>
<br>
<div>
    <h1 class="text-center my_title">Our products collections</h1>
    <p class="text-justify">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. </p>
</div>
     {% endif %}

<div class="container">
    <div class="row mx_auto">
        {% for product in key2.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width: 18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}" width="300px" height="242px"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>$ {{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if key2.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in key2.paginator.page_range %}
            <a href="?page={{pg}}"    class="btn btn-light btn-sm {% if key2.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
    </div>
{% endblock %}

